@import "./variables";

// Refactoring my website to include SASS
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Sora, "Trebuchet MS", Helvetica, sans-serif;
}

///////// SCROLLBAR ////////////

/* width of scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

/* Track color */
::-webkit-scrollbar-track {
    background: $paragraph;
}

/* Handle color */
::-webkit-scrollbar-thumb {
    background: $orange;
    border-radius: 5px;
}

/* Handle on hover color */
::-webkit-scrollbar-thumb:hover {
    background: $peachy;
}

/////// END OF SCROLLBAR //////////////

/////////////////// UTIL CLASSES ///////////////
.off-white {
    color: $headline !important;
}
.soft-gray {
    color: $paragraph;
}
.bg-orange {
    background-color: $orange;
}
.bg-gradient {
    background: $orange;
    background: linear-gradient(155deg, $orange 16%, $peachy 53%, $extra 92%);
}
.img-circle {
    border-radius: 50%;
}
.fancy-border {
    box-shadow: 0 0 0 10px $peachy, 0 0 0 20px $extra;
}
.my_name {
    text-shadow: 0.07em 0.07em 0px #0a090f, 0.1em 0.1em 0px #ff8907,
        0.15em 0.15em 0 #e53170;
    letter-spacing: 0.5vw;
    text-transform: uppercase;
}
.w100 {
    width: 100%;
}
.p08 {
    padding: 0.8em;
}
.margin-auto {
    margin: 0 auto;
}
.top_bottom-p1 {
    padding: 1em 0;
}
.txt-center {
    text-align: center;
}
.txt-medium {
    font-size: 1.2rem;
    line-height: 1.8;
}
.txt-large {
    font-size: 2.4rem;
}
.txt-xlarge {
    font-size: 3.5rem;
}
.col {
    &_50-100 {
        width: 50%;
    }
}
.hero {
    height: 100vh;
    padding-top: 5.45em;
    .hero-text {
        max-width: 40ch;
    }
}
// HELPER CLASSES FOR BACKGROUND CONTRAST
.bg-dark {
    z-index: 1;
    p,
    h1,
    h2,
    h3,
    h4,
    li,
    ul,
    span,
    a {
        color: $headline;
    }
    background: url(/assets/new_bg.svg) no-repeat;
    background-size: cover;
}
.bg-light {
    z-index: 1;
    p,
    h1,
    h2,
    h3,
    h4,
    li,
    ul,
    span,
    a {
        color: $background;
    }
    background-color: $headline;
}
// FLEX util classes
.flex {
    display: flex;
    &_wrap {
        flex-wrap: wrap;
    }
    &_stretch-y {
        align-items: stretch;
    }
    &_col {
        flex-flow: column;
    }
    &_center {
        justify-content: center;
    }
    &_center-all {
        justify-content: center;
        align-items: center;
    }
    &_between {
        justify-content: space-between;
    }
    &_around {
        justify-content: space-around;
    }
    &_evenly {
        justify-content: space-evenly;
    }
}
// specific to transformations and animations
.off_canvas-x {
    transform: translateX(100%);
}
///////////// END util classes////////////////////

////////////// single elements///////////////////////

// every section found in main
section {
    &:last-of-type {
        padding: 3em 5vw 7vw;
    }
    padding: 3em 5vw 3em;
}

// all lone anchor tags
a {
    color: $headline;
    text-decoration: underline $orange;
    transition: all 300ms ease;
    &:hover {
        color: $peachy;
        text-decoration: underline $extra;
    }
}

// buttons
.cta {
    color: $button-text;
    background: $orange;
    background: linear-gradient(155deg, $orange 16%, $peachy 53%, $extra 92%);
    padding: 1.2rem 2rem;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    border: none;
    transition: all 400ms ease;
    &:hover,
    &:focus {
        box-shadow: inset 0 -3.75em 0 0 $extra;
    }
}

// images
img {
    max-width: 100%;
    border-radius: 4px;
}

// inputs
/* input containers */
form {
    width: 100%;
    p {
        label,
        input {
            display: block;
            margin-bottom: 0.5em;
            border-radius: 4px;
        }
        display: block;
        margin-bottom: 0.7em;
    }
    input,
    textarea {
        border: 2px solid $orange;
        background: $background;
        padding: 16px;
        color: $headline;
        width: 100%;
        border-radius: 4px;
    }
    .submit {
        padding: 2em 0;
        margin-bottom: 0;
    }
}
.anchor-top {
    padding-top: 0vw;
    a,
    button {
        width: 100%;
    }
}
::placeholder {
    color: $paragraph;
}

/* end of input */

////////////////// END of single elements/////////////////////

///////////////// Start Body and Below CSS///////////////////
body {
    background-color: $background;
    z-index: 0;
    overflow-x: hidden !important;
}

/////////////////// TOP BAR NAVIGATION AND ICON/TITLE //////////////////
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    position: absolute;
    top: 0;
    .desktop-nav {
        display: flex;
        align-items: center;
        padding: 1em;
        width: 30%;
    }
}

/* icon at the top left of every page */
#home_icon {
    transition: all 300ms ease;
    &:hover {
        filter: drop-shadow(1px 1px 3px $peachy);
    }
}
.icon {
    width: 90px;
    height: auto;
    margin: 11px 0 0 15px;
    &_title {
        display: flex;
        align-items: center;
        width: 70%;
        h1 {
            font-size: 1.13em;
            color: $headline;
        }
    }
}

// start of top right navigation
.nav_list {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    .list_item {
        a {
            text-decoration: none;
            color: $headline;
        }
        transition: all 300ms ease;
        &:hover {
            transform: scale(1.2);
        }
    }
}
////////////////// END of top bar navigation and icon/////////////////@at-root

//////// Start of the mobile navigation menu ////////////
.cover {
    /* Container takes full size */
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 400ms ease;
    z-index: 9999;
    &__overlay {
        /* Take full size */
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;

        /* User still can see the content of main page */
        background-color: rgba(0, 0, 0, 0.5);

        z-index: -1;
    }

    &__sidebar {
        /* Take full height */
        height: 100%;
        right: 0;
        position: fixed;
        top: 0;
        width: 200px;

        /* Background */
        background-color: $background;
    }
}
.sidebar_nav_list .list_item {
    /* background: orange; */
    padding: 2em 1em;
    font-size: 1.2em;
}
// the close button inside the menu
.close__nav {
    /* Reset */
    background-color: transparent;
    border-color: transparent;

    /* Cursor */
    cursor: pointer;

    /* Size */
    height: 32px;
    width: 32px;
    margin: 1em;

    /* Used to position the inner */
    position: relative;
    float: right;
}
.button__line {
    /* Background color */
    background-color: $headline;

    /* Position */
    position: absolute;

    /* Size */
    height: 2px;
    width: 100%;

    &--first {
        /* Position */
        left: 0px;
        top: 50%;
        transform: translate(0%, -50%) rotate(45deg);

        /* Size */
        height: 2px;
        width: 100%;
    }

    &--second {
        /* Position */
        left: 50%;
        top: 0px;
        transform: translate(-50%, 0%) rotate(45deg);

        /* Size */
        height: 100%;
        width: 2px;
    }
}
// Menu hamburger icon and text
.menu__container {
    display: none;

    &__text {
        color: $headline;
    }
}

.hamburger__icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-size: 30px;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding: 0.4em;
    cursor: pointer;
    &::before {
        content: "\f0c9";
        filter: invert(1);
    }
}
.sidebar_nav {
    margin-top: 60px;
    &_list {
        list-style: none;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: $headline;
            }
        }
    }
}
///////// END of the menu on mobile ////////////////////

////////// MAIN CONTENT wraps every page after body /////////

///// For Beginning A New Section /////////////////
.section {
    &_header {
        font-size: 1.9em;
        line-height: 1.8;
        text-align: center;
        max-width: 40ch;
        margin: 0 auto 0.5em;
        padding-top: 1vw;
    }
    &_caption {
        line-height: 1.8;
        text-align: left;
        max-width: 40ch;
        margin: 0 auto 3em;
    }
}

/////////////// Card CSS //////////////////////

.card {
    background: $background;
    border-radius: 4px;
    padding: 1em;
    min-width: 290px;
    height: 320px;
    width: 290px;
    margin: 1em;
    transition: all 300ms ease;
    &_top {
        display: flex;
        gap: 8px;
        align-items: center;
        margin-bottom: 1em;
    }
    &_bottom {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        height: 100%;
    }
    & img {
        max-width: 64px;
        max-height: 64px;
    }
    h1,
    h2 {
        color: $headline;
    }
    p {
        color: $paragraph;
    }
}
//////// END CARDS ///////////////////

///////// FOOTER STUFF /////////////////
.social_icons {
    padding-top: 5em;
    p {
        text-align: center;
        img {
            max-width: 120px;
        }
    }
}
.footer {
    .section_caption {
        text-align: center;
    }
}
.social-icon {
    transition: all 300ms ease;
    &:hover {
        transform: scale(0.9);
    }
}
/////////////// END FOOTER //////////////////////

//////////////// ABOUT ME ///////////////////
.loop_pic {
    max-width: 94%;
    border-radius: 3px;
}
.orange-underline {
    text-decoration: underline $orange;
}

/* slideshow css */
.glide {
    padding: 1em;
}
.glide__slide {
    display: flex;
    justify-content: center;
}
.glide__slide figure img {
    max-height: 500px;
    max-width: 100%;
    border-radius: 3px;
}
.glide__arrows {
    display: flex;
    justify-content: center;
    gap: 3.6em;
    margin-top: 1em;
}
.glide__arrows button {
    border: none;
    background: transparent;
}
figure figcaption {
    padding: 0.75rem;
    color: $headline;
    background-color: $peachy;
    text-align: center;
}

/////////////// FUTURE GOALS //////////////////////
.zigzag-timeline__item {
    /* Used to position the milestone */
    position: relative;
    /* Border */
    border-bottom: 1px solid #71717a;
    /* Take full width */
    width: 100%;
    /* Padding */
    padding: 3em;
    /* Styles for even items */
    /* Styles for odd items */
}

.zigzag-timeline__item h2 {
    margin-bottom: 0.75rem;
}

.zigzag-timeline__item p {
    max-width: 80ch;
}

.zigzag-timeline__item:nth-child(2n) {
    border-left: 1px solid #71717a;
}

.zigzag-timeline__item:nth-child(2n) .zigzag-timeline__milestone {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.zigzag-timeline__item:nth-child(2n) .circle {
    position: absolute;
    left: -25px;
}

.zigzag-timeline__item:nth-child(2n + 1) {
    border-right: 1px solid #71717a;
}

.zigzag-timeline__item:nth-child(2n + 1) .zigzag-timeline__milestone {
    right: 0;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.zigzag-timeline__item:nth-child(2n + 1) .circle {
    position: absolute;
    right: -25px;
}

.zigzag-timeline__item:nth-child(2n + 1) h2 {
    text-align: right;
}

.zigzag-timeline__item:nth-child(2n + 1) p {
    margin-left: auto;
}

.zigzag-timeline__milestone {
    /* Absolute position */
    position: absolute;
    top: 50%;
}

#ms-date {
    color: $peachy !important;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $orange;
    border: 7px inset $extra;
}

/////////////////// MEDIA QUERIES /////////////////////
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    // mobile navigation!
    .header .desktop-nav {
        display: none;
    }
    .menu {
        &__text {
            color: $headline;
        }
        &__container {
            display: flex;
            padding: 0 3vw;
        }
    }

    // end mobile nav
    .hero {
        height: auto;
    }
    .col {
        &_50-100 {
            width: 100%;
        }
    }
    .stack-top {
        order: 1;
        padding-top: 3.5em;
    }
    .stack-bottom {
        padding-top: 3em;
        order: 2;
    }
}

// LARGE screens
@media (min-width: 1440px) {
    .index .hero-left {
        padding-left: 15vw;
    }
    img.prof_pic.fancy-border.bg-gradient.img-circle {
        width: 60%;
    }
    .hero-left .txt-large {
        padding-top: 0.5em;
    }
    .txt-xlarge {
        font-size: 5em;
    }
    .projects .txt-medium,
    .about-me .txt-medium,
    .future-goals .txt-medium {
        font-size: 1.6rem;
        line-height: 1.8;
    }
    .hero-left .cta {
        font-size: 1.3rem;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 1200px) {
    .hero .hero-text {
        max-width: 100%;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .social_icons {
        p {
            img {
                max-width: 80%;
            }
        }
    }
}

@media (max-width: 575.98px) {
    .hero-left .txt-large {
        padding-top: 0.5em;
    }
    .menu__text {
        display: none;
    }
    .zigzag-timeline__item {
        position: relative;
        border-bottom: 1px solid #71717a;
        width: 90%;
        margin: 0 auto;
        padding: 2em;
    }
    .zigzag-timeline__item:nth-child(2n + 1) .circle {
        position: absolute;
        right: -20px;
    }
    .zigzag-timeline__item:nth-child(2n) .circle {
        position: absolute;
        left: -20px;
    }
    .circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: #ff8906;
        border: 7px inset #e53170;
    }
    .section_caption {
        line-height: 1.8;
        text-align: left;
        max-width: 40ch;
        margin: 0 auto 2em;
    }
    .hero img {
        max-width: 90%;
    }
    .top_bottom-p1 {
        padding: 2em 0;
    }
    .icon {
        width: 90px;
        height: auto;
        margin: 30px 0 0 26px;
    }
    .menu__container {
        position: fixed;
        bottom: 4%;
        right: 4%;
        z-index: 99;
        background: linear-gradient(
            155deg,
            $orange 16%,
            $peachy 53%,
            $extra 92%
        );
        padding: 0 1vw;
        border-radius: 4px;
    }

    /* width of scrollbar */
    ::-webkit-scrollbar {
        width: 0px;
    }
}
