<style> 
* {font-family: sans-serif;}
.container {
    display: grid;
    place-items: center;
    margin: 3em;
}
h1{font-size: 4em;}
a {font-size: 3em; color: #1b00ff}
a:hover{color:#db2a2a}
</style>

<div class="container">

<h1>404 error. This page doesn't exist, SORRY!</h1>
<a href="/">Navigate Back to the Home Page</a>

</div>
