---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- About me page -->

<MainLayout
    title="Logan Murray: Front-end Developer - Portfolio"
    description="A small and dedicated portfolio website to showcase my work and progress as a developer."
>
    <div class="main_content about-me">
            <!-- START HERO SECTION -->
            <section class="hero bg-dark w100 flex flex_wrap flex_center-all">
                <div
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    class="flex_col col_50-100 flex_center stack-bottom hero-left"
                >
                    <div class="w100">
                        <h1 class="txt-xlarge">About Me</h1>
                    </div>

                    <p class="top_bottom-p1 txt-medium hero-text">
                        From Frontend Developer at Officite to sole Web &
                        Content Developer at Boost Auto Parts, my journey to
                        grow in both my personal life and career is always
                        evolving for the better. I live in beautiful St.
                        Charles, IL with my lovely wife and daughter. We have
                        two mini Australian-Shepards named Quill and Bodie.
                    </p>
                    <div class="w100">
                        <a href="/future-goals">
                            <button class="cta">My Future Goals</button>
                        </a>
                    </div>
                </div>
                <div
                    data-aos="fade-left"
                    data-aos-duration="1000"
                    class="flex_col col_50-100 flex_center txt-center stack-top"
                >
                    <img
                        src="../assets/depaul.jpg"
                        data-tilt
                        alt="Loop Campus"
                        class="loop_pic fancy-border"
                    />
                </div>
            </section>
            <!-- END OF HERO SECTION -->

            <!-- START OF SLIDESHOW -->
            <section class="bg-light">
                <h1 class="section_header">My Family</h1>
                <h3 class="section_caption">
                    My loving wife (<span class="orange-underline"
                        >Courtney</span
                    >) and two dorky dogs (<span class="orange-underline"
                        >Bodie & Quill</span
                    >) all take care of my newborn daughter (<span
                        class="orange-underline"
                        >Elsie</span
                    >).
                </h3>
                <div class="glide">
                    <div class="glide__track" data-glide-el="track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <figure>
                                    <img
                                        src="https://i.ibb.co/gM1zh9w/bodie1.jpg"
                                        alt="Bodie"
                                    />
                                    <figcaption>Bodie</figcaption>
                                </figure>
                            </li>
                            <li class="glide__slide">
                                <figure>
                                    <img
                                        src="https://i.ibb.co/kg1dbqD/quill1.jpg"
                                        alt="Quill"
                                    />
                                    <figcaption>Quill</figcaption>
                                </figure>
                            </li>
                            <li class="glide__slide">
                                <figure>
                                    <img
                                        src="https://i.ibb.co/zx5BG4m/IMG-6561.jpg"
                                        alt="My Wife and I"
                                    />
                                    <figcaption>My Wife and I</figcaption>
                                </figure>
                            </li>
                            <li class="glide__slide">
                                <figure>
                                    <img
                                        src="https://i.ibb.co/MDWHkN3/both1.jpg"
                                        alt="Quill and Bodie"
                                    />
                                    <figcaption>Quill and Bodie</figcaption>
                                </figure>
                            </li>
                            <li class="glide__slide">
                                <figure>
                                    <img
                                        src="https://i.ibb.co/93w9bS6/both3.jpg"
                                        alt="Quill and Bodie"
                                    />
                                    <figcaption>Quill and Bodie</figcaption>
                                </figure>
                            </li>
                        </ul>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button
                            class="glide__arrow glide__arrow--left"
                            data-glide-dir="<"
                        >
                            <img
                                src="../assets/back-arrow.svg"
                                alt="backward arrow"
                            />
                        </button>
                        <button
                            class="glide__arrow glide__arrow--right"
                            data-glide-dir=">"
                        >
                            <img
                                src="../assets/forward-arrow.svg"
                                alt="forward arrow"
                            />
                        </button>
                    </div>
                </div>
            </section>
            <!-- END OF SLIDESHOW -->
</MainLayout>
