---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Future page -->

<MainLayout
    title="Logan Murray: Front-end Developer - Portfolio"
    description="A small and dedicated portfolio website to showcase my work and progress as a developer."
>
    <div class="main_content future-goals">
            <!-- START HERO SECTION -->
            <section class="hero bg-dark w100 flex flex_wrap flex_center-all">
                <div
                    data-aos="fade-right"
                    class="flex_col col_50-100 flex_center stack-bottom hero-left"
                >
                    <div class="w100">
                        <h1 class="txt-xlarge">Future Goals</h1>
                    </div>

                    <p class="top_bottom-p1 txt-medium hero-text">
                        I am continually improving myself until I become a
                        Fullstack Web Developer. One big goal I have at the
                        moment is to complete this portfolio. But for now, check
                        out my
                        <a
                            href="https://github.com/lpmurray16"
                            rel="noopener noreferrer"
                            target="_blank"
                            >GitHub!</a
                        >
                    </p>
                    <div class="w100">
                        <a href="/about-me">
                            <button class="cta">Learn More About Me</button>
                        </a>
                    </div>
                </div>
                <div
                    data-aos="fade-left"
                    class="flex_col col_50-100 flex_center txt-center stack-top"
                >
                    <img
                        src="../assets/future_me.svg"
                        data-tilt
                        alt="future me svg"
                        class="loop_pic fancy-border"
                    />
                </div>
            </section>
            <!-- END OF HERO SECTION -->

            <!-- START OF CARDS/SKILL SECTION -->
            <section class="bg-light">
                <h1 class="section_header">My Timeline</h1>
                <h3 class="section_caption">
                    A quick timeline of my achievements and future goals.
                </h3>

                <!-- Start of timeline -->
                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            Enroll at DePaul University -
                            <span id="ms-date">September 2016</span>
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        Finally knowing what I want to do for my career I get
                        accepted and enroll in DePaul's Computer Science
                        program. Starting off with the basics of software
                        development.
                    </p>
                </div>

                <!-- Repeat other items -->
                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            <span id="ms-date">Sept. 2016 - March 2020</span> -
                            A Solid Foundation
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        For 4 years at DePaul I studied and formed a solid
                        understanding of all things software and development.
                        Learning multiple languages and adding tools to my belt
                        allowed me to decide what kind of developer I wanted to
                        be.
                    </p>
                </div>

                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            Graduation - <span id="ms-date">March 2020</span>
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        COVID hit the last few weeks of class and a few of my
                        finals were taken online instead of at campus. My
                        commencement was now a YouTube video instead of your
                        traditional walk ceremony. But I finally finished and
                        received my BS in CS and was on to bigger and better
                        things.
                    </p>
                </div>

                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            <span id="ms-date">After Graduation</span> - Fork in
                            the Road
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        After I was freed from the shackles of school I started
                        to explore other areas of my profession. I started
                        working with HTML and CSS and JS more in my experiments
                        and projects. It seemed like web development was a fun
                        and fast paced area of software development that I
                        enjoyed the most.
                    </p>
                </div>

                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            Job at Officite -
                            <span id="ms-date">December 2020</span>
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        I continued to develope my skills in the area of web
                        development. Honing in my HTML/CSS/JS knowledge and
                        abilities. Eventually I found my foot in the door of a
                        digital marketing and website management company called
                        Officite. Here I am able to use my knowledge on actual
                        client websites and learn more about design patterns and
                        the culture of office life at a large business. It is
                        the perfect place for a FED who was just starting out.
                    </p>
                </div>

                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            <span id="ms-date">December 2021</span> - Job at
                            Boost Auto Parts
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        Using the knowledge I acquired from my time at Officite
                        I am now the leading in-house Web & Content Developer
                        for Boost Auto Parts. A rapidly growing online auto part
                        retailer out of West Chicago.
                    </p>
                </div>
                <div class="zigzag-timeline__item">
                    <div class="circle"></div>
                    <!-- Milestone -->
                    <div className="zigzag-timeline__milestone">
                        <h2>
                            Get Certificate for ReactJS -
                            <span id="ms-date">March 2022</span>
                        </h2>
                    </div>

                    <!-- Content -->
                    <p>
                        React as a library or framework (however you want to
                        call it) is extremely popular. But for a good reason.
                        Along my journey to become a fullstack developer I know
                        how important it is to learn and understand a frontend
                        framework such as React or Vue. I plan on getting my
                        certificate in React by March.
                    </p>
                </div>
            </section>
            <!-- END OF CARDS SECTION -->
</MainLayout>
