---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Home page -->

<MainLayout
    title="Logan Murray: Front-end Developer - Portfolio"
    description="A small and dedicated portfolio website to showcase my work and progress as a developer."
>
<div class="main_content index">
	<!-- START HERO SECTION -->
	<section class="hero bg-dark w100 flex flex_wrap flex_center-all">
		<div
			data-aos="fade-right"
			data-aos-duration="1000"
			class="flex_col col_50-100 flex_center stack-bottom hero-left"
		>
			<div class="w100">
				<h1 class="txt-xlarge my_name">Logan Murray</h1>
				<h2 class="txt-large">Front-end Developer</h2>
			</div>

			<p class="top_bottom-p1 txt-medium hero-text">
				DePaul University - March 2020<br />
				<i>BS in Computer Science - Software Development</i
				><br />
				My commencement is a 3 hour YouTube video that I watched
				in my pajamas at home. Shortly after graduation my
				interests shifted to the world of web development and I
				have been picking up and learning new skills everyday.
				My main goal is to eventually become a reliable and
				capable fullstack web developer.
			</p>
			<div class="w100">
				<a href="/about-me">
					<button class="cta">Learn More About Me</button>
				</a>
			</div>
		</div>
		<div
			data-aos="fade-left"
			data-aos-duration="1000"
			class="flex_col col_50-100 flex_center txt-center stack-top"
		>
			<img
				src="assets/prof_blacksuit_bg_square-removebg-preview.png"
				data-tilt
				alt="Picture of Me, Logan"
				class="prof_pic fancy-border bg-gradient img-circle"
			/>
		</div>
	</section>
	<!-- END OF HERO SECTION -->

	<!-- START OF CARDS/SKILL SECTION -->
	<section class="bg-light">
		<h1 class="section_header">Skills & Languages</h1>
		<h3 class="section_caption">
			I am constantly working on my development skills. I like to
			learn something new everyday. Here is a quick breakdown of
			the things I know.
		</h3>
		<!-- ROW -->
		<div class="flex flex_wrap flex_center flex_stretch-y">
			<div
				data-aos="fade-up-right"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img
						src="assets/html-css-js.png"
						alt="HTML/CSS/JS"
					/>
					<h2>HTML/CSS/JS</h2>
				</div>
				<div class="card_bottom">
					<p>
						In my current role as a FED at HS1 I have learned a
						significant amount of HTML/CSS/JS on top of my basic
						knowledge I had acquired through school and in
						personal projects.
					</p>
					<a class="off-white" href="/projects"> View Projects >></a>
				</div>
			</div>
			<div
				data-aos="fade-up-left"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img src="assets/reactjs.png" alt="React" />
					<h2>React</h2>
				</div>
				<div class="card_bottom">
					<p>
						React and React.js have been increasingly popular
						and I was told if you want to make it in the FED or
						web development world you have to learn a framework
						(even though React is a library).
					</p>
					<a class="off-white" href="/projects"> View Projects >></a>
				</div>
			</div>
		</div>
		<!-- ROW -->
		<div class="flex flex_center flex_wrap flex_stretch-y">
			<div
				data-aos="fade-up-right"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img src="assets/java.png" alt="Java" />
					<h2>Java</h2>
				</div>
				<div class="card_bottom">
					<p>
						Most of my classes at DePaul were taught in Java.
						Data Structures and OOP were primarily taught in
						Java while my systems classes were all C/C++. I do
						not enjoy C/C++ as much as I enjoy Java.
					</p>
					<a class="off-white" href="/projects"> View Projects >></a>
				</div>
			</div>
			<div
				data-aos="fade-up-left"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img src="assets/python.png" alt="Python" />
					<h2>Python</h2>
				</div>
				<div class="card_bottom">
					<p>
						Python is one of those hate to love programming
						languages for me. It is so simple and relaxed with
						its syntax that sometimes I forget I am programming
						at all. But it is very useful and has a Swiss Army
						Knife of usability.
					</p>
					<a class="off-white" href="/projects"> View Projects >></a>
				</div>
			</div>
		</div>
		<!-- ROW -->
		<div class="flex flex_center flex_wrap flex_stretch-y">
			<div
				data-aos="fade-up-right"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img src="assets/mysql.png" alt="SQL" />
					<h2>SQL</h2>
				</div>
				<div class="card_bottom">
					<p>
						Database Management was a fun and challenging course
						for me at DePaul. And although we used Oracle PL/SQL
						throughout the course I have found that it's good
						practice to get familiar with opensource tools like
						MySQL.
						
					</p>
					<a class="off-white" href="/projects"> View Projects >></a>
				</div>
			</div>
			<div
				data-aos="fade-up-left"
				data-aos-duration="600"
				class="card flex flex_col"
			>
				<div class="card_top">
					<img src="assets/wordpress.png" alt="WordPress" />
					<h2>WordPress</h2>
				</div>
				<div class="card_bottom">
					<p>
						WordPress is very fun to experiment with and in my
						CMS class we learned a lot of just how capable
						WordPress is as a web building platform. We even
						learned some PHP and made our own plugins.
					</p>
					<a class="off-white" href="/projects">View Projects >></a>
				</div>
			</div>
		</div>
	</section>
	<!-- END OF CARDS SECTION -->
</MainLayout>
