---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Projects page -->

<MainLayout
    title="Logan Murray: Front-end Developer - Portfolio"
    description="A small and dedicated portfolio website to showcase my work and progress as a developer."
>
    <div class="main_content projects">
            <!-- START HERO SECTION -->
            <section class="hero bg-dark w100 flex flex_wrap flex_center-all">
                <div
                    data-aos="fade-right"
                    class="flex_col col_50-100 flex_center stack-bottom hero-left"
                >
                    <div class="w100">
                        <h1 class="txt-xlarge">Projects</h1>
                    </div>

                    <p class="top_bottom-p1 txt-medium hero-text">
                        I will post my projects here directly when I get the
                        chance. But check out my
                        <a
                            href="https://github.com/lpmurray16"
                            rel="noopener noreferrer"
                            target="_blank"
                            >GitHub!</a
                        >
                    </p>
                    <div class="w100">
                        <a href="/about-me">
                            <button class="cta">Learn More About Me</button>
                        </a>
                    </div>
                </div>
                <div
                    data-aos="fade-left"
                    class="flex_col col_50-100 flex_center txt-center stack-top"
                >
                    <img
                        src="../assets/guy_at_desk.svg"
                        data-tilt
                        alt="guy sitting at desk"
                        class="loop_pic fancy-border"
                    />
                </div>
            </section>
            <!-- END OF HERO SECTION -->

            <!-- START OF CARDS/SKILL SECTION -->
            <section class="bg-light">
                <h1 class="section_header">Coming Soon!</h1>
            </section>
            <!-- END OF SECTION -->
</MainLayout>
